services:
  web:
    build: .
    container_name: movie-rating-system
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    command: sh ./run_web.sh
    depends_on:
      - dev-db
  dev-db:
    image: postgres:16
    container_name: movie-rating-system-postgres
    volumes:
      - postgres-db:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "5430:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - default

networks:
  default:

volumes:
  postgres-db: